<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="shortcut icon" href =""/>
    <title>[[${title}]]</title>
</head>
<body>

  <div th:replace="fragment/navigation-bar"></div>

  <h1>[[${title}]]</h1>

  <div th:if="{message != null}">
    <p th:text="${message}"></p>
  </div>

  <div th:if="${departments.size() > 0}">
    <table>
      <thead>
        <tr>
          <th scope="col">S/N</th>
          <th scope="col">Title</th>
          <th scope="col">Code</th>
          <th scope="col">Faculty</th>
          <th scope="col">Code</th>
          <th scope="col">Created On</th>
          <th scope="col">Updated On</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="department : ${departments}">
          <td th:text="${department.id} ?: 'Not Available'"></td>
          <td th:text="${department.title} ?: 'Not Available'"></td>
          <td th:text="${department.code} ?: 'Not Available'"></td>
          <td th:text="${department.faculty.title} ?: 'Not Available'"></td>
          <td th:text="${department.faculty.code} ?: 'Not Available'"></td>
          <td th:text="${#temporals.format(department.createdOn, 'MMMM d, yyyy')} ?: 'Not Available'"></td>
          <td th:text="${#temporals.format(department.updatedOn, 'MMMM d, yyyy')} ?: 'Not Available'"></td>
          <td>
            <a title="View" th:href="@{/department/detail/{id}(id=${department.id})}" th:text="View"></a>
            <a title="Update" th:href="@{/department/update/{id}(id=${department.id})}" th:text="Update"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div th:replace="fragment/footer"></div>

</body>
</html>

